body {
	background: #FFF;
	padding: 0;
	margin: 30px 0 0 0;
	font-family: 'Neucha', 'Helvetica', 'Arial', sans-serif;
}

ul { 
	margin: 0;
	padding: 0; 	
	list-style: none; 
	list-style-type: none; 
}

li { 
	margin: 0;
	padding: 0; 
}


ul.list {
	list-style: square;
}

ul.list li {
	margin-left: 15px;
}


a {
	color: #FFF;
}

h2 {
	margin: 10px 0;
}

p {
	margin: 0; 
	padding: 0;
}

#container {
	background: #333;
	padding: 20px;
}

#inner-container {
	width: 1000px;
	margin: 0 auto;
}

#sidebar {
	color: #FFF;
	width: 200px;
	list-style: none;
	list-style-type: none;
	float: left;
}

#sidebar p {
	margin: 20px 0;
}

#sidebar .avatar {
	background: #FFF;
	border: 1px solid #000;
	padding: 10px;
	width: 170px;
	-webkit-box-shadow: 2px 2px 20px #000;
	-moz-box-shadow: 2px 2px 20px #000;
	box-shadow: 2px 2px 20px #000;
}

#content {
	margin: 0;
	padding: 0 60px;
	float: left;
	text-align: left;
	font-size: 15px;
}

#content .widget-title { 
	padding-bottom: 10px; 
}

#content ul {
	text-align: left;
}

#content .project {
	margin-bottom: 10px;
}

#content .forked {
	color: #FC0;
	font-style: italic	;
}

#content p {
	color: #c7d3de;
	padding: 0;
}

.widget-title {
	color: #c7d3de;
	font-style: italic;
	margin-bottom: 10px;
}

#footer {
	clear: both;
}