body {
	font-family: 'Maven Pro', sans-serif;
	background: #eaefc7;
	font-size: 16px;
}

::selection {
	color: #FFF;
	background: #cbd878;
}

.vcard:after,
.vcard:before {
	content: " ";
	display: table;
}

.vcard:after {
	clear: both;
}

.vcard {
	background: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	width: 80%;
	margin: 2em auto;
	padding: 1em;

	*zoom: 1;
}

.vcard .picture {
	float: left;
	width: 20%;
}

.vcard .picture img {
	height: auto;
	max-width: 100%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.vcard .about {
	padding-left: 2em;
	width: 80%;

	text-align: left;
	float: right;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

}

.vcard .about .name {
	font-size: 2em;
	color: #333;
	margin: 0.25em 0 0.25em 0;
}

.vcard .about .bio {
	color: #666;
	padding: 0.25em 0 0.5em 0;
	font-size: 1.25em;
}

.vcard .about .details {
	font-size: 1em;
	padding-bottom: 1em;
	margin-bottom: 0.5em;
	border-bottom: 1px dotted #999;
}

.vcard .about .details i {
	padding-right: 0.3em;
	color: #333;
}

.vcard .about .details span {
	padding-right: 2.5em;
	color: #999;
}

.vcard .social {
	list-style: none;
	list-style-type: none;
	padding: 0;
}

.vcard .social li {
	display: inline-block;
}

.vcard .social li a {
	text-decoration: none;
	font-size: 3em;
	color: #999;
}

.vcard .social li a i {
	padding: 0.2em 0.1em;
	border-radius: 0.1em;
}

.vcard .social .icon-twitter {
	color: #16b0f4;
}

.vcard .social .icon-facebook {
	background: #2d4486;
	color: #fff;
}

.vcard .social .icon-github {
	color: #262626;
}

.vcard .social .icon-google-plus {
	background: #e01a1f;
	color: #fff;
}

.vcard:after {
	clear: both;
}

footer {
	width: 80%;
	margin: 1em auto;

	text-align: center;
	font-size: 0.75em;
	color: #999;
}

footer a {
	color: #666;
}

@media only screen and (max-width: 480px) {
	body {
		font-size: 14px;
	}

	.vcard {
		padding: 1.5em 0;
		margin: 1em auto;
		width: 90%;
	}

	.vcard:after {
		clear: none;
	}

	.vcard .picture {
		text-align: center;
		float: none;
		display: block;
		width: 100%;
	}

	.vcard .about {
		padding: 0;
		text-align: center;
		float: none;
		display: block;
		width: 100%;
	}

	.vcard .about .name {
		font-size: 1.5em;
	}

}
