body {
	background: #B1B1B1;
	margin-top: 30px;
}

.container {
	background: #D8D8D8;
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.box-title { 
	color: #000; 
	font-weight: bold; 
	text-shadow: #FFF 1px 1px 0; 
}

.box-content { 
	color: #000; 
	text-shadow: #FFF 1px 1px 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #ABABAB;
	padding: 10px;
}

ul, ol {
	list-style-type: square;
	margin-left: -15px;
}

li.discontinued p b{
	padding: 2px 10px;
	background: #7B7B7B;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
