body {
	font-family: 'Roboto Slab', sans-serif;
	background: white;
	color: #7a8b46;
	font-size: 14px;
}

::selection {
	background: #555b2a;
	color: #e8ebd4;
}

header {
	padding: 2.5em 0;
	background: #7a8b46;
	color: #e8ebd4;	
	box-shadow: inset 0 -8px 8px -8px #606e36;
}

header .picture {
	text-align: center;
}

header .picture img {
	height: 10em;
	width: 10em;
	background: #e8ebd4;
	border-radius: 50%;
	border: 0.5em solid #e8ebd4;
	box-shadow: 0 1px #4d4d46;
}

header h2.name {
	text-align: center;
	text-shadow: 0 1px #4d4d46;
	font-size: 3em;
	font-weight: 300;
	padding-top: 0.5em;
	margin: 0;
}

ul.social {
	padding: 0;
	margin: 0;
	text-align: center;
}

ul.social li {
	display: inline-block;
	font-size: 1.5em;
	color: black;
	padding: 1em;
}

ul.social li i {
	font-size: 2em;
}

ul.social li a {
	text-decoration: none;
	color: inherit;
}

ul.social li.twitter i {
	color: #55acee;
}

ul.social li.gplus i {
	color: #e11c1f;
}

.content {
	font-size: 1.5em;
	padding: 0 2em;
	color: #000;
}

footer {
	padding: 2.5em 0;
	color: #e8ebd4;	
	margin-top: 2.5em;
	text-align: center;
	font-size: 1.25em;
	color: #999;
}

footer a {
	color: #666;
}

@media only screen and (max-width: 640px) {
	body {
		font-size: 12px;
	}
	.content {
		margin-top: 0.5em;
	}
}
