<!DOCTYPE html>
<html>
  <head>
    <title>swessel.me</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Maven+Pro:500'>
    <link rel="stylesheet" type="text/css" href="assets/components/normalize-css/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/components/font-awesome/css/font-awesome.min.css">
  </head>
  <body>
    {{ content }}
    {% include tracking.html %}
  </body>
</html>
